body {
  margin: 0;
  font-family: currency_symbols,Work Sans,system-ui,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  width: 100%;
  min-height: 100%;
  flex-direction: column;
  justify-content: center;
  margin: 6.0625rem 0 3.125rem;
  min-width: 23.4375rem;
}

@media (min-width: 600px) {
  body {
      width: calc(100% - 15px);
      margin: 0 auto;
  }
}

@media (min-width: 900px) {
  body {
    min-height: 500px;
  }
}

@media (min-width: 1200px) {
  body {
      max-width: 1200px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
